
body {
background-color: white;
padding: 0;
margin: 0;
display: flex;
justify-content:center;
}

/* Navigation Bar Implementation
Container Div (Black background)*/
#nav{
  background-color: black;
  border-top: solid;
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
  border-width: 1px;
  border-color: #f7f5f2;

  padding: 0%;
  margin: 0 auto;
  width: 90%;
  height: 12%;
  margin-top:1%;


  display: flex;
  justify-content: flex-end;
  position:absolute;
  z-index: 999;
}

/* UL containing navigation elements */
#bar {
  color: #f7f5f2;
  list-style-type: none;

  padding:0%;
  margin: 0%;
  width:100%;
  height: 100%;

  display: flex;
  justify-content: flex-end;
}

/* Individual Navigation elements and their animation */
#bar li {
  font-size: 16pt;
  font-family: "Bodoni 72";
  font-weight: bold;
  width: calc(100%/5);
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav_item:hover {
  border-bottom: 5px solid #f7f5f2;
}

/* Home Icon and animation */
#home_image {
  background-image: url(img/Home_White.png);
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
}

#home_image:hover {
  background-image: url(img/Home_Gold.png);
}

/* End of Nav Bar CSS*/




/* Fullpage.js Slides*/

#slide1{
  background-image: url(img/group_1.jpg);
  background-size:cover;
  background-position: 15% 30%;
}

#landing_banner{
  font-family: "Bodoni 72 Oldstyle";
  font-size: 32pt;

  color: white;

  height: 20%;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin-top: 0%;
}

#slide2{
  background-image: url(img/Halloween.JPG);
  background-size:cover;
}

#slide3{
  background-image: url(img/crystal.JPG);
  background-size:cover;
}

/* End of Fullpage.js Slides*/
