
body {
background-color: white;
padding: 0;
margin: 0;
display: flex;
justify-content:center;
}

/* Navigation Bar Implementation
Container Div (Black background)*/
#nav{
  background-color: #231F20;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: #f7f5f2;

  padding: 0%;
  margin: 0 auto;
  width: 90%;
  height: 12%;
  margin-top:1%;


  display: flex;
  justify-content: flex-end;
  position:absolute;
  z-index: 999;
}

/* UL containing navigation elements */
#bar {
  color: #f7f5f2;
  list-style-type: none;

  padding:0%;
  margin: 0%;
  width:100%;
  height: 100%;

  display: flex;
  justify-content: flex-end;
}

/* Individual Navigation elements and their animation */
#bar li {
  font-size: 16pt;
  font-family: "Bodoni 72";
  font-weight: bold;
  width: calc(100%/5);
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav_item:hover {
  border-bottom: 5px solid #f7f5f2;
}

/* Home Icon and animation */
#home_image {
  background-image: url(img/Home_White.png);
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
}

#home_image:hover {
  background-image: url(img/Home_Gold.png);
}

/* End of Nav Bar CSS*/



/* Fullpage.js Slides*/

#slide1{
  background-image: url(img/group_1.jpg);
  background-size:cover;
  background-position: 0% 50%;
}


#landing_banner{
  font-family: "Bodoni 72 Oldstyle";
  text-shadow: 1px 1px #231F20;
  font-size: 48pt;

  color: #f7f5f2;
  opacity: 1;

  height: 100%;
  width: 100%;

  text-align: center;
  margin-top: 22%;

}


#landing_cover{
  height:100%;
  width:100%;
}



#slide2{
  background-image: url(img/Halloween.JPG);
  background-size:cover;
}
#message_back2{
  background-color: rgba(35,31,32,0.6);
  width: 30%;
  height: 25%;
  margin-top: 35%;
  margin-left: 65%;
  margin-right: 2.5%;

}

#message_2{
  color: white;
  font-size: 16pt;
  font-family: "Bodoni 72";
  font-weight: bold;
  padding-left: 2%;
  width: 95%;
  height: 98%;
  display: flex;
  justify-content: flex-start;
}

#slide3{
  background-image: url(img/crystal.JPG);
  background-size:cover;
}

#message_back3{
  background-color: rgba(35,31,32,0.6);
  width: 30%;
  height: 25%;
  margin-bottom: 10%;
  margin-left: 58%;
  margin-right: 2.5%;

}

#message_3{
  color: white;
  font-size: 16pt;
  font-family: "Bodoni 72";
  font-weight: bold;
  padding-left: 2%;
  width: 95%;
  height: 98%;
  display: flex;
  justify-content: flex-start;
}

/* End of Fullpage.js Slides*/
